# PYTHON 3.11

# available in conda-forge
dash>=2.16
pandas>=2.2
dash-bootstrap-components>=1.6
dash-bootstrap-templates>=1.1
plotly>=5.19
python-box>=7.1
pyyaml>=6.0
statsmodels>=0.14

# pip only
hidrokit==0.5

# server only
gunicorn>=21.2
