# PYTHON 3.9.13

# available in conda-forge
pandas==1.5.1
dash==2.7.0
dash-bootstrap-components==1.2.1
plotly==5.11.0
python-box==6.1.0
pyyaml==6.0
statsmodels==0.13.5

# pip exclusive (available in conda with different name)

# pip only
dash-bootstrap-templates==1.0.7
hidrokit==0.4.1

# server only
gunicorn==20.1.0
